@model Library.Models.Prestamo

@{
    ViewBag.Title = "Details";
}

<h2>DETALLES</h2>

<div>
    <h4>Información del prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Libro.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libro.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolucionReal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDevolucionReal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar información", "Edit", new { id = Model.PrestamoId }) |
    @Html.ActionLink("Volver al inicio", "Index")
</p>
