@model IEnumerable<Library.Models.Prestamo>

@{
    ViewBag.Title = "Index";
}

<h2>INFORMACIÓN DEL PRESTAMO</h2>

<p>
    @Html.ActionLink("Crear prestamo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDevolucionReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libro.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPrestamo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDevolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDevolucionReal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PrestamoId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.PrestamoId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.PrestamoId })
        </td>
    </tr>
}

</table>
